.entete{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__nav {
        display: flex;
        
        @media screen and (max-width:$point_rupture){
            flex-direction: column;
            
        }
        
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 4px;


    }
}