

.footer{
    background-color: $footer_couleur_bas;
    color : #000;
    display: flex;
  }

.footer-image-container {
    text-align: center;
    margin-top: 7px;
    background-color: $footer_couleur_bas;
}

.footer-image {
    max-width: 100%;
    height: auto;
    display: inline-block;
    border-radius: 10px;
}  

.piedpage{
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4rem;    
    .global{
        padding: 15px;
        &__s1{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 15px;
            .titre{
                font-size: 17px;
                margin-bottom: 2rem;
            }
            &__externe{
                display: flex;
                flex-wrap: wrap;
            }            
        }
        &__s2{
            display: flex;
            flex-direction: column;
            padding: 15px;
            .titre{
                font-size: 17px;
                margin-bottom: 2rem;
            }
            &__adresse{
                display: flex;
                flex-direction: column;
            }
        }

        &__s3{
            display: flex;
            flex-direction: column;
            padding: 15px;
            .titre{
                font-size: 17px;
                margin-bottom: 2rem;
            }
            &__mission{
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
    

}    

  