.hero{
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    min-height: 100vh;
    &__bouton{
        display: flex;
        margin: 20px;
        font-size: 20px;
        border-radius: 15px;
        padding: 10px;
        background: #30ad2163;
    }
    &__carrousel{
        top:180px;
        left:0;
        position : absolute;
        background-repeat: no-repeat ;
        min-height : 100vh;
        width : 100%;
        z-index: -1;
        opacity: 0;
        
        &--active{
            opacity: 1;
        }
    }

    &__radio{
        position: absolute;
        display: flex;
        width: 100%;
        justify-content: center;
        top: 120%;        
    }


}

.hero__icone-app {
    display: flex;
    padding-top: 5px;
    gap: 15px;
}

