.hero{
    //background-image: url("images/maldives.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    min-height: 100vh;
}

.hero__icone {
    display: flex;
    gap: 15px;
}