.global{
    max-width: 1100px;
    padding: 10vh 5vw;
    
}

.populaire .global {
    display: flex;
    flex-wrap: wrap;
    background-image: url("images/maldives.jpg");

}
 

.boiteflex{
    display: flex;
    flex-wrap: wrap;
}