.global {
    margin : 0 auto;
    max-width: 1000px;
    padding: 10vh 5vw;
 }

 .boiteflex {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     gap : 10px;
 }

.populaire .global {
    display: flex;
    flex-wrap: wrap;
}