


.destination__pays{
    background-color: #91e4a0;
    &__titre__pays{
        background-color: rgb(0, 39, 112);
    }
}

.boutons__pays{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .btn-pays{
    background-color: deepskyblue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    }
    
}