


.destination__pays{
    background-color: #91e4a0;
    
    .list{
        padding: 5px;
    }
}

.destination__titre{
    padding-left: 25%;
    padding-right:25%

}

.boutons__pays{
    size: 10px;
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .btn-pays{
    background-color: deepskyblue;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin: 5px;
    }
    
}