.categorie__ul {
  display : flex;
  gap:2rem;
  flex-wrap: wrap;
  list-style-type: none;
  size: 0.8rem;
  &__li{
    border: 1px solid #aaa;
    padding: 5px;
    cursor: pointer;
    background-color: aquamarine;
  }
}

.destination {
  &__description {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;

    &.open {
        max-height: 500px; // adapte cette valeur si nécessaire
        padding: 10px 18px;
      }
  }

  &__titre {
    cursor: pointer;
    transition: 0.4s;
  }
}
