/* // menu principal // */
.menu {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  
  list-style-type: none;
    &__li {
      
    }
    &__a {
        color: #333;
        text-decoration: none;
        padding : 2px 5px;
    }
  }
