.recherche{
    border: 1px solid rgba(0, 0, 0, 0.1);

    &__input{
        padding: 2px;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0.02);
        &__:hover{
            background-color: rgba(0, 0, 0, 0.06);
        }
    }
    &_img{
        padding: 2px;
    }
}